.outer_container {
    background-image: url("../../public/images/team.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
}

.inner_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 61, 72, 0.75);
}

.description {
    margin: 0;
    padding: 4rem 10rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 3rem;
    font-size: 30px;
}