.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 2rem 4rem;
}

.title {
    font-size: 30px;
    font-weight: 800;
    text-decoration: underline;
}

.our_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.imgs {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 350px;
    border-radius: 20px;
    border: 10px solid #283D48;
    object-fit: fill;
}