.navbar {
    z-index: 5;
    display: flex;
    position: sticky;
    top: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #283D48;
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,1);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,1);
}

.navbar_brand_wrapper {
    padding: 0 1.5rem;
    background-color: #142229;
    cursor: pointer;
}

.navbar_brand_link {
    text-decoration: none;
}

.navbar_brand {
    display: flex;
    color: #FFFFFF;
}

.navbar_options_wrapper {
    display: flex;
    padding-right: 1rem;
}

.navbar_links,
.navbar_links:active {
    text-decoration: none;
}

.navbar_links:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ECB056;
}

.navbar_options {
    padding: 0 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}

.navbar_options:hover {
    color: #ECB056;
}